@font-face {
    font-family:"SFBold";
    src: url("../fonts/SF-UI-Display-Bold.otf") format("opentype");
}

@font-face {
    font-family:"SFUltralight";
    src: url("../fonts/SF-UI-Display-Ultralight.otf") format("opentype");
}

@font-face {
    font-family:"Roboto-Thin";
    src: url("../fonts/Roboto-Thin.ttf") format("truetype");
}

@font-face {
    font-family:"GothamBold";
    src: url("../fonts/Gotham-Bold.ttf") format("truetype");
}

@font-face {
    font-family:"Roboto-Condensed";
    src: url("../fonts/Roboto-Condensed.ttf") format("truetype");
}

@font-face {
    font-family:"Roboto-Medium";
    src: url("../fonts/Roboto-Medium.ttf") format("truetype");
}

#contact {
    padding-left: 10%;
    padding-right: 10%;
}

#contact h2 {
    margin-bottom: 50px;
}

.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: .5em;
    border-bottom: 1px solid #eee;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: 0;
    border-radius: 0;
    font-size: 1.5em;
    background: 0 0;
    box-shadow: none!important;
    resize: none;
}

.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: .85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top .3s ease,opacity .3s ease;
    -moz-transition: top .3s ease,opacity .3s ease;
    -ms-transition: top .3s ease,opacity .3s ease;
    transition: top .3s ease,opacity .3s ease;
}

.floating-label-form-group::not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eee;
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}

.floating-label-form-group-with-focus label {
    color: #ff6600;
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eee;
}

#contact .btn-success {
    padding: 2% 5% 2% 5%;
    background: #ff6600;
    border-color: #ff6600;
}

#contact .btn-success:hover {
    background: #009ae1;
    border-color: #009ae1;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    -ms-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s;
}

.header-image {
    background-image: url('../img/header5.png');
    background-size: 100%;
    height: 40vw;
}

.social-media {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 3%;
    color: #ffffff;
    background: #ff6600;
}

.social-media h1 {
    font-family: 'SFUltralight';
    font-size: 70px;
    padding: 40px 0 20px 0;
    margin: 0 0 0 0;
}

@media all and (max-width: 700px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
    .social-media h1 {
        font-size: 40px;
    }
}

.social-media p {
    font-family: 'Roboto-Thin';
    font-weight: 700;
}

.social-media .social-btn {
    color: #ff6600;
    background: #ffffff;
    border: #ffffff;
    border-radius: 100%;
    padding: 5px 10px 5px 10px;
}

.social-media .social-btn:hover {
    color: #ffffff;
    background: #009ae1;
    border: #009ae1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.social-media .row h2 {
    display: inline;
    font-family: 'GothamBold';
    font-size: 20px;
}

.email {
    color: #ffffff;
    text-decoration: underline;
}

.email:hover {
    color: #ffffff;
    text-decoration: underline;
}

#contact h1 {
    font-family: 'SFUltralight';
    font-size: 70px;
    color: #ff6600;
    padding: 40px 0 20px 0;
    margin: 0 0 30px; 0;
}

@media all and (max-width: 700px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
    #contact h1 {
        font-size: 40px;
    }
}

@media all and (max-width: 991px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
    .col-md-4 {
        margin-bottom: 80px;
    }

    .row {
        margin-bottom: 0;
    }
}

#contact label {
    font-family: 'GothamBold';
}

#contact input, #contact textarea {
    font-family: 'Roboto-Thin';
    font-weight: 700;
}

#contact button {
    font-family: 'Roboto-Thin';
    font-weight: 700;
}