<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Official website for The John Bot.">
    <meta name="author" content="Josh Seides">
    <meta name="keywords" content="John Bot">

    <title>Documentation | The John Bot</title>

    <!-- Custom CSS -->
    <link href="./css/bootstrap.css" rel="stylesheet">
    <link href="./css/menu.css" rel="stylesheet">
    <link href="./css/style.css" rel="stylesheet">
    <link href="./css/home-style.css" rel="stylesheet">
    <link href="./css/documentation-style.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="./font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:200,400,700" rel="stylesheet" type="text/css">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<!-- Nav Menu -->
<div id="header" class="nav-header">
    <div class="container">
        <div id="cssmenu">
            <ul>
                <li class="header-nav"><a href="/">The John Bot</a></li>
                <li class="active"><a href="/documentation">Documentation</a></li>
                <li><a href="/process">Process</a></li>
            </ul>

            <a href="https://www.facebook.com/johnbot" class="buy-btn pull-right far-end" target="_blank"><i class="fa fa-fw fa-facebook" id="social1"></i></a>

        </div>
    </div>
</div>

<div class="space"></div>

<div class="header-image">
    <h1>Documentation</h1>
</div>

<!-- About Section -->
<section class="docs">
    <div class="container">
        <div class="row">
            <h1>Commands</h1>
            <p class="description">Bolded words are required for correct functionality. The remaining words can be
                changed in any way to make the conversation more natural. Commands marked with an asterisk (*) are those
                who have randomly-selected outputs, meaning they can be sent more than once with The John Bot responding with
                a different message each time (possibly). The numbers in parentheses at the end of some commands represent
                the numnber of different responses to expect.
            </p>
            <hr>
            <h2>Casual Conversation</h2>
            <ul>
                <li><b>Hello</b> John!*</li>
                <li><b>How are you</b> today?*</li>
                <li><b>What</b> is <b>Heaven</b> like from your experience?</li>
                <li><b>What</b> is <b>Hell</b> like from your visions?</li>
                <li><b>Who</b> did you see <b>today</b> in your travels and visions?*</li>
            </ul>
            <br>
            <h2>Biography and Thematic Analysis</h2>
            <ul>
                <li><b>Who are you</b>?</li>
                <li>How fascinating! Please <b>tell me more</b> about you.</li>
                <li>Give me a strong analysis of <b>themes</b> in Revelation.</li>
                <li><b>When</b> did you write the Book of Revelation?</li>
                <li><b>Where</b> are you right now?</li>
                <li>Give me a cool <b>allusion</b> you used in Revelation.* (8)</li>
            </ul>
            <br>
            <h2>Revelation in the Arts Analysis</h2>
            <ul>
                <li>Drop a <b>meme</b>!* (30)</li>
                <li>Give me an in-depth analysis of Revelation-inspired <b>art</b>.</li>
                <li>What is your favorite <b>movie</b>? Give me some in-depth analysis on it, too!</li>
                <li>What is your favorite <b>song</b>? Give me some in-depth analysis on it, too!</li>
                <li>What is your favorite <b>poem</b>? Give me some in-depth analysis on it, too!</li>
            </ul>
            <br>
            <h2>Miscellaneous</h2>
            <ul>
                <li>Drop a <b>verse</b> from Revelation! * (all verses included)</li>
                <li>Tell me a <b>joke</b>.*</li>
                <li>Let's play the Heaven or Hell <b>game</b>!*</li>
            </ul>
        </div>
    </div>
</section>

<br><br>

<!-- Footer -->
<footer class="text-center" style="margin-top: 0">
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <a href="https://joshseides.com">Website Design and Bot by Josh Seides</a>, &copy; 2017
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
<script src="./js/bootstrap.js"></script>
<script src="./js/menu.js"></script>
<script src="./js/cbpAnimatedHeader.js"></script>
<script src="./js/classie.js"></script>
<script src="./js/button-fix.js"></script>

</body>