@font-face {
    font-family:"SweetSensations";
    src: url("../fonts/SweetSensations.ttf") format("truetype");
}

@font-face {
    font-family:"SFBold";
    src: url("../fonts/SF-UI-Display-Bold.otf") format("opentype");
}

@font-face {
    font-family:"SFUltralight";
    src: url("../fonts/SF-UI-Display-Ultralight.otf") format("opentype");
}

@font-face {
    font-family:"Roboto-Thin";
    src: url("../fonts/Roboto-Thin.ttf") format("truetype");
}

@font-face {
    font-family:"GothamBold";
    src: url("../fonts/Gotham-Bold.ttf") format("truetype");
}

@font-face {
    font-family:"Roboto-Condensed";
    src: url("../fonts/Roboto-Condensed.ttf") format("truetype");
}

@font-face {
    font-family:"Roboto-Medium";
    src: url("../fonts/Roboto-Medium.ttf") format("truetype");
}

div.container {
    width: 100%;
    padding: 0;
}


.fa-circle {
    color: #ba1616;
}

.btn {
    background: #ba1616;
    border: #ba1616;
}

.btn:hover {
    background: #f2c31a;
    border: #f2c31a;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.banner {
    margin-top: 2%;
    margin-bottom: 1%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.intro {
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    margin: 2% 0 2% 0;
}

#subtitle {
    margin-bottom: 1.5%;
}

.header-image {
    background-image: url('../img/background1.png');
    background-size: 100%;
    height: 40vw;
}

.header-image h1 {
    font-family: 'GothamBold';
    border-bottom: 3px solid #ba1616;
    color: #ba1616;
    text-align: center;
    margin-right: 10%;
}

#about {
    margin: 5% 0 5% 0;
    padding-left: 5%;
    padding-right: 5%;
}

#about .timeline .timeline-image .fa-5x {
    font-size: 4.5vw;
    margin-top: 20%;
}

#about .timeline .timeline-heading h3 {
    font-family: 'GothamBold';
    font-size: 2.5vw;
    color: #ba1616;
}

#about .timeline .timeline-heading h4 {
    font-size: 1.5vw;
    font-family: 'SFBold';
    color: #000000;
}

#about .timeline .timeline-body p {
    font-family: 'Roboto-Thin';
    font-weight: 700;
    color: #999999;
}

#about .timeline .timeline-button .pull-right {
    margin: 4% 30% 0 0;
}

#about .timeline .timeline-button .pull-left {
    margin: 4% 0 0 30%;
}

#about .timeline .timeline-button i.plus-icon {
    color: #ffffff;
}

#about .timeline .timeline-button .btn {
    border-radius: 100%;
}

#about .timeline .timeline-button .btn {
    background: #f2c31a;
    border: #f2c31a;
}

#about .timeline .timeline-button .btn:hover {
    background: #ba1616;
    border: #ba1616;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#about .timeline .end-text h1 {
    font-family: 'GothamBold';
    font-size: 5vw;
    color: #ffffff;
    margin: 10% 0 0 0;
}

.timeline {
  list-style: none;
  padding: 0;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #f1f1f1;
  left: 40px;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 50px;
  position: relative;
  min-height: 50px;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li .timeline-panel {
  width: 100%;
  float: right;
  padding: 0 20px 0 100px;
  position: relative;
  text-align: left;
}
.timeline > li .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline > li .timeline-image {
  left: 0;
  margin-left: 0;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 100;
  background-color: #ba1616;
  color: white;
  border-radius: 100%;
  border: 7px solid #f1f1f1;
  text-align: center;
}
.timeline > li .timeline-image h4 {
  font-size: 10px;
  margin-top: 12px;
  line-height: 14px;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  text-align: left;
  padding: 0 20px 0 100px;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline > li:last-child {
  margin-bottom: 0;
}
.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}
.timeline .timeline-heading h4.subheading {
  text-transform: none;
}
.timeline .timeline-body > p,
.timeline .timeline-body > ul {
  margin-bottom: 0;
}

.speech-video {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 3%;
    color: #ffffff;
    background: #ba1616;
}

.speech-video h1 {
    font-family: 'SFUltralight';
    font-size: 70px;
    padding: 40px 0 20px 0;
    margin: 0 0 0 0;
}

@media all and (max-width: 1000px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  .speech-video h1 {
      font-size: 35px;
  }
}

.speech-video iframe {
  display: block;
  margin: 5% auto 2% auto;
  width: 1500px;
  height: 900px;
}

@media all and (max-width: 1800px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  .speech-video iframe {
    width: 1083.33px;
    height: 650px;
  }
}

@media all and (max-width: 1600px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  .speech-video iframe {
    width: 80%;
    height: 600px;
  }
}

@media all and (max-width: 1350px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  .speech-video iframe {
    height: 500px;
  }
}

@media all and (max-width: 1100px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  .speech-video iframe {
    height: 400px;
  }
}

@media all and (max-width: 850px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  .speech-video iframe {
    height: 300px;
  }
}

@media all and (max-width: 500px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  .speech-video iframe {
    height: 200px;
  }
}

@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    margin-bottom: 100px;
    min-height: 100px;
  }
  .timeline > li .timeline-panel {
    width: 41%;
    float: left;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    width: 100px;
    height: 100px;
    left: 50%;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    margin-top: 16px;
    line-height: 18px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    text-align: left;
    padding: 0 30px 20px 20px;
  }
}
@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 18px;
    margin-top: 30px;
    line-height: 26px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}
@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}

@media all and (max-width: 1500px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
    #about .timeline .timeline-image .fa-5x {
        font-size: 5.5vw;
        margin-top: 25%;
    }
}

@media all and (max-width: 1175px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
    .intro-screen {
        background-image: url('../img/small-splash.png');
        background-size: 100%;
    }

    .intro-screen .main-img {
        height: 70%;
        width: 70%;
        margin: 5% auto 5% auto;
    }

    .intro-screen h1 {
        font-size: 50px;
    }

    .intro-screen .summary-info h3 {
        padding: 1% 1% 1% 1%;
        background: #ba1616;
        border-radius: 6px;
        font-size: 25px;
    }

    .intro-screen .summary-info img {
        height: 50%;
        width: 50%;
        float: none;
        margin: 0 auto 5% auto;
        display: block;
    }

    #explore-menu .row span > h3 {
        font-size: 30px;
    }

    #explore-menu .row .panel-body h6 {
        font-size: 20px;
    }

    #about .timeline .timeline-image .fa-5x {
        font-size: 4em;
        margin-top: 25%;
    }

    #about .timeline .timeline-heading h3 {
        font-size: 30px;
    }

    #about .timeline .timeline-heading h4 {
        font-size: 20px;
    }
}

@media all and (max-width: 990px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
    #about .timeline .timeline-image .fa-5x {
        font-size: 3em;
        margin-top: 20%;
    }
}

@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
    #about .timeline .timeline-image .fa-5x {
        font-size: 2em;
        margin-top: 25%;
    }
}

.jumbotron {
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  margin: 0;
}

.jumbotron h1 {
  font-family: 'SFUltralight';
  font-size: 40px;
}

.jumbotron p, .jumbotron .quote {
  font-family: 'Roboto-Thin';
  font-weight: 700;
  font-size: 15px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.jumbotron .quote:hover {
  background-color: #f2c31a;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.jumbotron .close-btn {
  margin-right: 5%;
  background-color: #ecf0f1;
  color: #2c3e50;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.jumbotron .close-btn:hover {
  color: #ff0000;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.jumbotron .close-btn:active, .jumbotron .close-btn:focus {
  text-decoration: none;
  background-color: #ecf0f1;
}

.social-media {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 3%;
    color: #ffffff;
    background: #f2c31a;
}

.social-media h1 {
    font-family: 'SFUltralight';
    font-size: 70px;
    padding: 40px 0 20px 0;
    margin: 0 0 0 0;
}

@media all and (max-width: 700px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
    .social-media h1 {
        font-size: 40px;
    }
}

.social-media p {
    font-family: 'Roboto-Thin';
    font-weight: 700;
}

.social-media .social-btn {
    color: #ba1616;
    background: #ffffff;
    border: #ffffff;
    border-radius: 100%;
    padding: 5px 10px 5px 10px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.social-media .social-btn:hover {
    color: #ffffff;
    background: #ba1616;
    border: #ba1616;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.code {
    height: 95%;
    width: 95%;
    display: block;
    margin: auto;
}

.code-caption {
    text-align: center;
}

.access {
    background: #f2c31a;
}