@font-face {
    font-family:"Roboto-Thin";
    src: url("../fonts/Roboto-Thin.ttf") format("truetype");
}

@font-face {
    font-family:"SFUltralight";
    src: url("../fonts/SF-UI-Display-Ultralight.otf") format("opentype");
}

.container #cssmenu, #menubutton {
    width: 100%;
    position: fixed;
    z-index: 999;
}

.nav-header a.buy-btn.pull-right {
    padding: 0 10px 0 10px;
    margin: 20px 3px 0 3px;
    line-height: 38px;
    color: #ffffff;
    background: #ba1616;
    border-radius: 100%;
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    -ms-transition: all 1.0s;
    -o-transition: all 1.0s;
    transition: all 1.0s;
}

.nav-header.shrink a.buy-btn.pull-right {
    margin-top: 4px;
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    -ms-transition: all 1.0s;
    -o-transition: all 1.0s;
    transition: all 1.0s;
}

a.buy-btn.pull-right.far-end {
    margin-right: 2%;
}

a.buy-btn.pull-right:hover {
    text-decoration: none;
    background: #ffffff;
    border: #ffffff;
    border-radius: 100%;
    color: #ba1616;
    -webkit-transition: all 0.15s;
    -moz-transition: all 0.15s;
    -ms-transition: all 0.15s;
    -o-transition: all 0.15s;
    transition: all 0.15s;
}

.space {
	background: #ffffff;
	height: 92px;
}

@media all and (max-width: 1175px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
    .space {
        height: 52px;
    }
}

/* Fonts */

h1, h2, h3 {
    font-family: Ubuntu;
    font-weight: 700;
}

h4, h5, h6 {
    font-family: Ubuntu;
    font-weight: 500;
}

p {
    font-family: Ubuntu;
    font-weight: 200;
}

a {
    font-family: Ubuntu;
    font-weight: 600;
}

div {
    font-family: Ubuntu;
    font-weight: 400;
}

/* End fonts */

footer {
    margin-top: 2%;
}

footer, footer a {
    color: #fff;
}

footer, footer a:hover {
    color: #fff;
}

footer .footer-below {
    padding: 25px 0;
    background-color: #009ae1;
}

.header-image h1 {
    margin: 0;
    padding-top: 15%;
    color: #ffffff;
    font-family: 'SFUltralight';
    font-weight: 200;
    font-size: 6vw;
    margin-left: 10%;
}

/* Scrollbar fix on mobile */

@media
    only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 1.5){
        html, body {
            overflow-x: hidden;
        }
    }